*{
    scroll-margin-top: 70px;
}
nav{
    min-height: 58px;
}
body{
    overflow-x: hidden;
    background-color: #e6e6e6;
}
.m_w8ma{
    width: 80%;
    margin: auto;
}
.m_bgGrey{
    background-color: rgba(243, 243, 243, 0.5) !important;
}
img{
    max-width: 100%;
}
.m_para{
    text-align: justify;
}
.bulle{
    margin-top: 100px;
    cursor: pointer;
    transition: 1s;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 5px 6px 15px -4px #000000;
}
.bulle h3{
    color: black;
    text-decoration: unset;
}
.bulle:hover{
    box-shadow: none;
}
footer svg{
    width: 3em;
}