@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    overflow-x: hidden;
}

.m_bg{
    background-color: rgb(142, 13, 60) !important;
}
.m_separator{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.halo {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    pointer-events: none; /* Permet de cliquer à travers le halo */
    border-radius: 25px;
    box-shadow: #1D1842 0px 0px 200px 170px;
    transition: background-position 0.2s ease; /* Transition pour le déplacement du dégradé */
}

header{
    background-image: url("img/accueilBG.png");
    background-size: cover;
    background-color: white;
    width: 100vw;
    height: calc(100vh - 57px);

    .accueil{
        width: 100%;
        height: calc(100vh - 57px);
        background-color: rgba(29, 24, 66, 0.9);
    }
    .text{
        p {
            color: white;
        }
        .titre {
            font-family: "Pacifico", cursive;
            font-size: 4.5rem;
            color: rgb(142, 13, 60);
        }
        .nom{
            color: rgb(253, 161, 162);
        }
        .info {
            font-size: xx-large;
        }
    }
}

nav {
    .m_hover:hover{
        background-color: rgb(239, 59, 51) !important;
        color: #fff !important;
    }
    .m_hover:hover .nav-link{
        background-color: rgba(255, 255, 255, 0) !important;
        color: #ffffff !important;
        transition: none !important;
    }
    .active{
        background-color: rgb(255, 145, 141) !important;
    }
}

main {
    .btn.m_hover:hover {
        background-color: rgb(255, 145, 141) !important;
        color: #000000 !important;
        border-color: rgb(239, 59, 51) !important;
    }

    img{
        height: 200px !important;
        max-width: 300px;
        width: 75%;
    }
    .m_w8ma{
        background-color: rgba(243, 243, 243, 0.5) !important;
    }
}

.card-title{
    color: rgb(255, 145, 141) !important;
}

.m_w8ma{
    width: 80%;
    margin: auto;
}